<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Employees</h3>
        </div>
        <div class="card-body">

            <form action="" class="form-inline">
                <div class="form-group mb-2">
                    <input type="number" class="form-control" placeholder="Employee ID" [(ngModel)]="employeeID"
                        name="employeeID" #employeIDInput="ngModel" min="1" pattern="^[0-9]+" [ngClass]="{'has-error':employeIDInput.invalid && (employeIDInput.dirty || employeIDInput.touched)}">
                </div>
                <button [disabled]="employeIDInput.invalid && (employeIDInput.dirty || employeIDInput.touched)" (click)="searchEmployees()" type="button" class="btn btn-primary mb-2">Search</button>
            </form>

            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Salary</th>                        
                        <th>Anual Salary</th>
                    </tr>
                </thead>
                <tbody *ngIf="employees.length>0">
                    <tr *ngFor="let employee of employees" class="text-center" >
                        <td>{{employee.id}}</td>
                        <td>{{employee.employee_name}}</td>
                        <td>{{employee.employee_age}}</td>
                        <td>{{employee.employee_salary}}</td>
                        <td>{{employee.employee_anual_salary}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>