<!-- Image and text -->
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://d1yjjnpx0p53s8.cloudfront.net/styles/logo-thumbnail/s3/0006/5345/brand.gif?itok=2epsgcBG" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
</nav>
<router-outlet></router-outlet>